.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  background: #8e8358;
  padding: 1rem;
}

.body {
  display: flex;
  justify-content: space-between;
  width: 150vh;
  border-bottom: 1px solid #eeeeee;
  align-items: center;
}

.title {
  font-size: 30px;
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #f2f2f2;
}

.copyright {
  width: 223px;
  height: 14px;
  left: 609px;
  top: 4066px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;

  color: #f2f2f2;
}
.socialMedia {
  display: flex;
  list-style: none;
}
.socialMediaIcon {
  margin: 1rem;
  width: 48px;
  height: 48px;
  left: 1257px;
  top: 3921px;

  background: #ffffff;
  border-radius: 100px;
}
