.header {
    display: flex;
    color: #242423;
    font-weight: 600;
    background-color: #F2F2F2;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
    display: flex;
    align-items: center;
}

.star {
    color: #2F93DA;
}

.star:hover {
    box-shadow: 5px 5px 10px grey;
}

.jobtrail {
    font-size: 1.5rem;
}


/* .navItems:first-child {
    color: red;
} */

.navLi {
    list-style-type: none;
    display: inline;
    padding: 10px;
}

.navA {
    text-decoration: none;
    color: #242423;
    font-weight: 600;
}

.navA:hover {
    text-decoration: underline;
    text-decoration-color: #2F93DA;
}


/* .navA:first-of-type {
    color: red;
} */

.getStartedButton {
    background: #D55D48;
    color: #F2F2F2;
    border-radius: 30px;
    padding: 15px;
    margin-right: 20px;
    outline: none;
    border: none;
    font-size: 1rem;
    box-shadow: 5px 5px 10px grey;
}

.getStartedButton:hover {
    text-decoration: underline;
    text-decoration-color: #2F93DA;
}


/* ===============# HERO #=============== */

.hero {
    color: #242423;
    font-weight: 600;
    background-color: #F2F2F2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding-top: 50px;
}

.heading {
    color: #8E8358;
    font-size: 2.5rem;
}

.pHero {
    font-size: 1.2rem;
    padding: 20px 0 50px;
}