.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85vw;
}
.sectionTitle {
  margin: 30px 0 0 0;
  color: #fc0056;
}
.sectionName {
  margin-top: 0;
  padding: 0;
  margin-bottom: 3rem;
}

.featureCardGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 800px;
}
.featureCard {
  display: flex;
  width: auto;
}
.title {
  margin: 0;
}

@media screen and (max-width: 500px) {
  .featureCardGrid {
    grid-template-columns: 1fr;
  }
}
